RewriteEngine On
SetEnvIfNoCase Authorization "^(.*)$" HTTP_AUTHORIZATION=$1
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^product/([^/]+)/?$ pages/product-detail.php?slug=$1 [L,QSA,NC]
